/* Designer: David Bishop
   Card
*/

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-column: 2 / span 10;
  gap: 3rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1175px) {
  .cardContainer {
    grid-column: span 12;
  }
}

@media screen and (max-width: 490px) {
  .cardContainer {
    gap: 8px;
  }
  .card {
    transform: scale(0.9);
  }
}

.card {
  display: grid;
  text-align: center;
  width: 250px;
  height: 270px;
  border-radius: 6px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.card img {
  position: absolute;
  width: 250px;
  height: 270px;
  border: none;
  object-fit: cover;
  z-index: 1;
  border: 2px solid var(--primary50);
  border-radius: 6px;
  transition: all 0.3s ease-in;
}

.card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--wordsWhite);
  font-style: italic;
  text-shadow: -1.5px 1px 1px var(--primary400);
  text-shadow: 1px 0px 1px var(--primary400), 0px 1px 1px var(--primary400),
    2px 1px 1px var(--primary400), 1px 2px 1px var(--primary400),
    3px 2px 1px var(--primary400), 2px 3px 1px var(--primary400);
  opacity: 0.9;

  align-self: flex-start;
  margin: 1rem 0.5rem;
  z-index: 2;
  transition: all 0.32s ease-in;
}

.card .cardInfo {
  align-self: flex-end;
  text-align: center;
  width: 100%;
  height: 0;
  padding: 0.5rem;
  background-image: linear-gradient(
    180deg,
    var(--primary100),
    var(--primary200)
  );
}

.card .cardInfo div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.card .cardInfo p {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  text-shadow: 1.25px 1px 1px var(--primary700);
  color: var(--wordsWhite);
}

.card .cardInfo p:first-child {
  margin-bottom: 0.2rem;
}

.card:nth-child(2n + 1) .cardInfo p:first-child {
  font-size: 14px;
}

.card .cardInfo span {
  color: var(--white600);
  text-shadow: -1.25px 1px 1px var(--primary700);
}

.card .cardInfo svg {
  font-size: 18px;
  color: var(--primary700);
  transition: 0.28s ease all;
}

.card .cardInfo svg:hover {
  transform: scale(1.3);
  color: var(--primary900);
}

.card .cardInfo a {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: var(--primary700);
  text-decoration: none;
  transition: 0.28s ease all;
}

.card .cardInfo a:hover {
  color: var(--primary900);
  text-decoration: underline;
}

.card:hover {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.35);
}

.card:hover img {
  border-bottom: 0;
}

.card:hover h3 {
  opacity: 1;
}

.card:hover .cardInfo {
  animation: fadeUp 1.1s ease;
  opacity: 0.9;
  height: 85px;
  z-index: 2;
}

.card:nth-child(5):hover .cardInfo {
  animation: fadeUpNth5 1.1s ease;
  height: 100px;
}

.card .cardInfo {
  animation: fadeDown 1.1s ease;
}

.card:nth-child(5) .cardInfo {
  animation: fadeDownNth5 1.1s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    height: 0;
    z-index: 0;
  }
  to {
    opacity: 0.9;
    height: 85px;
    z-index: 2;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0.9;
    height: 85px;
    z-index: 2;
  }
  to {
    opacity: 0;
    height: 0;
    z-index: 0;
  }
}

@keyframes fadeUpNth5 {
  from {
    opacity: 0;
    height: 0;
    z-index: 0;
  }
  to {
    opacity: 0.9;
    height: 100px;
    z-index: 2;
  }
}

@keyframes fadeDownNth5 {
  from {
    opacity: 0.9;
    height: 100px;
    z-index: 2;
  }
  to {
    opacity: 0;
    height: 0;
    z-index: 0;
  }
}
