/* Designer: David Bishop
   Toast Styles
*/

.toastsContainer .toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0 0.5rem 1rem;
  min-width: 320px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  box-shadow: 4px 4px 16px rgb(0, 0, 0, 0.4);
  animation: fadeIn 0.4s ease-out;
}

.toastsContainer .toast.typeError {
  color: red;
  background-color: #ff9999;
  border: 1px solid red;
}

.toastsContainer .toast.typeSuccess {
  color: #38a953;
  background-color: #b6e2c1;
  border: 1px solid #38a953;
}

.toastsContainer .toast button {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: -0.5rem 0 -0.5rem 1rem;
  width: 2rem;
  min-height: 40px;
  cursor: pointer;
  transition: 0.28s ease;
}

.toastsContainer .toast.typeError button {
  color: #1f1f1f;
  background-color: rgb(0, 0, 0, 0.05);
  border-left: 1px solid red;
}

.toastsContainer .toast.typeError button:hover {
  color: #131313;
  background-color: rgb(0, 0, 0, 0.1);
}

.toastsContainer .toast.typeError button:active {
  color: #000;
  background-color: rgb(0, 0, 0, 0.175);
}

.toastsContainer .toast.typeSuccess button {
  color: #363636;
  background-color: rgb(244, 244, 244, 0.3);
  border-left: 1px solid #38a953;
}

.toastsContainer .toast.typeSuccess button:hover {
  color: #212121;
  background-color: rgb(244, 244, 244, 0.5);
}

.toastsContainer .toast.typeSuccess button:active {
  background-color: rgb(244, 244, 244, 0.75);
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
}
