.container {
  /* box-sizing: content-box; */
  border-top: 1px solid var(--c-outer-line);
  margin-top: 2rem;
  & .top,
  .bottom {
    margin-inline: 3rem;
  }

  & .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
    & .buttons {
      width: 227px;
      & button {
        width: 100%;
        & p {
          gap: 8px;
        }
      }
      & button:first-child {
        margin-bottom: 2rem;
        background-color: var(--c-mint600);
        & span {
          background-color: var(--c-mint500);
          border-color: var(--c-mint600);
          & p {
            position: relative;
            right: 8px;
            gap: 8px;
          }
        }
        &[data-pressed="true"] {
          background-color: var(--c-mint700);
        }
        &[data-pressed="true"] span {
          border-color: var(--c-mint700);
          background-color: var(--c-mint600);
        }
        /* &[data-pressed="true"] {
          background-color: var(--c-mint500);
        }
        &[data-pressed="true"] span {
          border-color: var(--c-mint500);
          background-color: var(--c-mint400);
        } */
      }
      & button:last-child {
        background-color: var(--c-yellow600);
        & span {
          font-family: "KG Always a Good Time", cursive;
          background-color: var(--c-yellow500);
          border-color: var(--c-yellow600);
          & p {
            gap: 12px;
          }
        }
        &[data-pressed="true"] {
          background-color: var(--c-yellow700);
        }
        &[data-pressed="true"] span {
          border-color: var(--c-yellow700);
          background-color: var(--c-yellow600);
        }
        /* &[data-pressed="true"] {
          background-color: var(--c-yellow500);
        }
        &[data-pressed="true"] span {
          border-color: var(--c-yellow500);
          background-color: var(--c-yellow400);
        } */
      }
    }
    & .links {
      display: flex;
      gap: 241px;
      & ul::before {
        content: attr(aria-label);
        font: var(--h5);
        display: block;
        position: relative;
        right: 27px;
        /* margin-bottom: 1.5rem; */
        margin-bottom: 1rem;
      }
      & ul li:not(li:last-of-type) {
        margin-bottom: 0.5rem;
      }
      & ul li a[data-hovered="true"],
      ul li a:focus-visible {
        color: var(--c-heading2);
        & span {
          background-color: var(--c-heading2);
        }
      }
    }
  }

  & .bottom {
    margin-top: 5.5rem;
    & h2 {
      display: flex;
      justify-content: space-between;
      font: var(--h1-spec);
      font-style: normal;
      line-height: 100%;
    }
    & hr {
      border-top: 1px solid var(--c-outer-line);
      margin: 3rem -3rem 2rem;
    }
    & p {
      /* TODO: Regular or small? */
      font: var(--para-small);
      color: var(--c-para-faded);
      text-align: center;
      & a {
        text-decoration: underline;
        &[data-hovered="true"] {
          color: var(--c-para);
        }
      }
    }
  }
}
