/* Designer: David Bishop
   Ux
*/

main .projectSection {
  grid-column: span 12;
  padding: 4rem 0;
}

main .projectSection .title,
main .projectSection h3 {
  grid-column: 2 / span 10;
}

main .projectSection .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  word-break: keep-all;
}

main .projectSection .title h2,
main .projectSection h3 {
  border-left: 8px solid var(--yellowColour);
  padding-left: 0.5rem;
}

main .projectSection h3 {
  font-size: 2rem;
}

main .projectSection .title p {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: var(--wordsWhite);

  margin: 1rem 0 3rem 1.3rem;
}

main .projectSection .title p a {
  text-decoration: underline;
  color: var(--wordsWhite);
  opacity: 0.63;
  transition: 0.38s ease opacity;
}

main .projectSection .title p a:hover {
  opacity: 0.8;
}

main .projectSection .title p a:active {
  opacity: 1;
}

@media screen and (max-width: 650px) {
  main .projectSection .title p {
    font-size: 20px;
  }

  main .projectSection .title h2,
  main .projectSection h3 {
    border-left: 6px solid var(--yellowColour);
  }
  main .projectSection h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 586px) {
  .applicationsContainer .title {
    margin-bottom: 2rem;
  }
}
