/* Designer: David Bishop
   Slider
*/

.sliderContainer {
  grid-column: 2 / span 10;
  overflow: hidden;
  padding: 2rem 0;
  margin: 0 4rem;

  /* box-shadow: 0px 0px 4px 6px rgba(94, 94, 94, 0.25); */
}

@media screen and (max-width: 1200px) {
  .sliderContainer {
    grid-column: span 12;
    margin: 0 1rem;
  }
}

.sliderContainer .slider {
  position: relative;
  display: flex;
  gap: 1.5rem;
  cursor: grab;
}

.sliderContainer .slider:active {
  cursor: grabbing;
}

.sliderContainer .slider > div {
  min-width: 200px;
  min-height: 200px;
  background-color: var(--primary50);
  box-shadow: 0px 0px 4px 6px rgba(94, 94, 94, 0.3);
  border-radius: 6px;
  transition: 0.38s ease all;
}

.sliderContainer .slider > div:hover {
  transform: scale(1.1);
  background-color: var(--white500Main);
  box-shadow: 0px 0px 8px 9px rgba(0, 0, 0, 0.3);
}

.sliderContainer .slider > div .lazy-load-image-background {
  display: flex !important;
  height: 100%;
  width: 100%;
  mix-blend-mode: darken;
}

.sliderContainer .slider div img {
  max-width: 100%;
  max-height: 100%;
  padding: 0 1rem;
  object-fit: contain;
  pointer-events: none;
}

.btnsContainer {
  display: flex;
  justify-content: space-between;
  height: 0;
  grid-column: 2 / span 10;
  margin: 0 4rem;
}

@media screen and (max-width: 1200px) {
  .btnsContainer {
    grid-column: span 12;
    margin: 0 1rem;
  }
}

.btnsContainer .actionRightContainer,
.btnsContainer .actionLeftContainer {
  background-color: transparent;
  position: relative;
  top: 6.5rem;
  z-index: 1;
  opacity: 0.5;
  min-height: 56px;
  transition: 0.28s ease all;
}

.btnsContainer .actionRightContainer {
  left: 0.85%;
}

.btnsContainer .actionLeftContainer {
  right: 0.85%;
}

.btnsContainer .actionRightContainer:hover,
.btnsContainer .actionLeftContainer:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btnsContainer .actionRightContainer svg,
.btnsContainer .actionLeftContainer svg {
  color: var(--primary900);
  font-size: 3.5rem;
}
