/* Designer: David Bishop
   Card
*/

.cardContainer {
  display: flex;
  grid-column: 4 / span 9;
  gap: 3rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1200px) {
  .cardContainer {
    grid-column: 2 / span 10;
    justify-self: center;
  }
}

@media screen and (max-width: 926px) {
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 624px) {
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.card {
  display: grid;
  text-align: center;
  width: 250px;
  min-height: 270px;
  border-radius: 6px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.card img {
  position: absolute;
  width: 250px;
  min-height: 270px;
  border: none;
  object-fit: cover;
  z-index: 1;
  border: 2px solid var(--primary50);
  border-radius: 6px;
  transition: all 0.3s ease-in;
  z-index: 1;
}

.card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--wordsWhite);
  font-style: italic;
  text-shadow: -1.5px 1px 1px var(--primary400);
  text-shadow: 1px 0px 1px var(--primary400), 0px 1px 1px var(--primary400),
    2px 1px 1px var(--primary400), 1px 2px 1px var(--primary400),
    3px 2px 1px var(--primary400), 2px 3px 1px var(--primary400);
  opacity: 0.9;

  align-self: flex-start;
  margin: 1rem 0;
  z-index: 2;
  transition: all 0.32s ease-in;
}

.card .cardInfo {
  align-self: flex-end;
  text-align: center;
  width: 100%;
  height: 0;
  padding: 0 0.5rem;
  background-image: linear-gradient(
    180deg,
    var(--primary100),
    var(--primary200)
  );
}

.card .cardInfo div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.card .cardInfo p {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  text-shadow: -1.25px 1px 1px var(--primary700);
  color: var(--white400);
}

.card .cardInfo p:nth-child(1) {
  margin: 0.5rem 0 0.2rem 0;
}

.card .cardInfo p:nth-child(2) {
  font-size: 14px;
  /* color: rgb(244, 244, 244, 0.8); */
}

.card .cardInfo span {
  color: var(--white600);
  text-shadow: -1.25px 1px 1px var(--primary700);
}

.card .cardInfo svg {
  font-size: 18px;
  color: var(--primary700);
}

.card .cardInfo svg:hover {
  transform: scale(1.3);
  color: var(--primary900);
}

.card .cardInfo a {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: var(--primary700);
  text-decoration: none;
  transition: 0.28s ease all;
}

.card .cardInfo a:hover {
  color: var(--primary900);
  text-decoration: underline;
}

.card:hover {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.35);
}

.card:hover img {
  border-bottom: 0;
}

.card:hover h3 {
  opacity: 1;
}

.card:hover .cardInfo {
  animation: fadeIn 1.1s ease;
  opacity: 0.9;
  height: 85px;
  z-index: 2;
}

.card:nth-child(3):hover .cardInfo {
  animation: fadeInNth3 1.1s ease;
  height: 105px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0;
    z-index: 0;
  }
  to {
    opacity: 0.9;
    height: 85px;
    z-index: 2;
  }
}

@keyframes fadeInNth3 {
  from {
    opacity: 0;
    height: 0;
    z-index: 0;
  }
  to {
    opacity: 0.9;
    height: 105px;
    z-index: 2;
  }
}
