/* Designer: David Bishop
   Services
*/

.servicesContainer .servicesTitle {
  display: flex;
  justify-content: center;
}

.servicesContainer h1 {
  border-bottom: 6px solid var(--yellowColour);
  letter-spacing: 0.1rem;
}

.servicesContainer .servicesGridContainer {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
}

.servicesContainer .service {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.servicesContainer .service:nth-child(-n + 1) {
  margin-top: 6rem;
}

.servicesContainer .service:nth-child(-n + 2) {
  margin-bottom: 5rem;
}

.servicesContainer .service .imgContain {
  background-color: var(--primary50);
  padding: 1rem;
  max-width: 270px;
  border-radius: 6px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.35);
}

.servicesContainer .service .imgContain img {
  width: 100%;
}

.servicesContainer .service .imgContain:nth-child(1),
.servicesContainer .service .imgContain:nth-child(3) {
  margin-left: 1rem;
}

.servicesContainer .service .imgContain:nth-child(2) {
  margin-right: 1rem;
}

.servicesContainer .service .serviceTxtContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 568px;
  margin: 0 1rem;
}

.servicesContainer .service .serviceTxtContainer h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--wordsWhite);

  border-left: 6px solid var(--yellowColour);
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.servicesContainer .service .serviceTxtContainer p {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: var(--wordsWhite);
  /* text-align: center; */
}

@media screen and (min-width: 708px) {
  .servicesContainer .service .serviceTxtContainer p {
    text-align: center;
  }
}
